// -----------------------------------------------------------------------------
// Global
// -----------------------------------------------------------------------------

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $chd-darkbrown;
  background: $chd-lightgrey;
}

a {
  color: $chd-darkbrown;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}
