.button {
  background-repeat: no-repeat;
  background-position: center;
}

.button-play {
  background-image: url(../img/icons/play_arrow-black-18dp/2x/baseline_play_arrow_black_18dp.png);
  background-size: 16px auto;
}

.button-stop {
  background-image: url(../img/icons/stop-black-18dp/2x/baseline_stop_black_18dp.png);
  background-size: 16px auto;
}

.button-download {
  background-image: url(../img/icons/get_app-black-18dp/2x/baseline_get_app_black_18dp.png);
  background-size: 16px auto;
}

.button-mail {
  background-image: url(../img/icons/mail_outline-black-18dp/2x/baseline_mail_outline_black_18dp.png);
  background-size: 16px auto;
}

.button-share {
  background-image: url(../img/icons/share-black-18dp/2x/baseline_share_black_18dp.png);
  background-size: 16px auto;
}
