// Path
$fonts-path: '../fonts/';
$image-path: '../img';

// Colors
$chd-darkred:     #7e3345;
$chd-lightred:    #a71a38;
$chd-lightbrown:  #e2dfce;
$chd-mediumbrown: #7d706b;
$chd-darkbrown:   #3a2e2f;
$chd-lightgrey:   #e0e0e0;
$chd-darkgrey:    #646363;

$dot-basic:   #999;
$dot-playing: #2dce30;

$action-base:       #d8d8d8;
$action-important:  #A61938;

// Screen sizes
$small-max-size:  767px;
$medium-min-size: 768px;
$medium-max-size: 1023px;
$large-min-size:  1024px;